# dependencies
/node_modules
/web/node_modules

# hardhat
/artifacts
/cache

# zk build artifacts
/circuits/build

# bun temp
/.tmp

# env
.env
.env.*
/web/.env
/web/.env.*

# mac
.DS_Store

# logs
npm-debug.log*
yarn-debug.log*

# next
/web/.next
/web/out
/web/.vercel
